<a href="https://colab.research.google.com/github/Shubham-Sharma1209/wine_classification_Data_Science/blob/main/New_Data_testing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [21]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

from sklearn.model_selection import train_test_split
from sklearn.ensemble import ExtraTreesClassifier
from sklearn.metrics import accuracy_score
import warnings
warnings.filterwarnings("ignore")

In [15]:
df = pd.read_csv('/content/winequalityN.csv')

In [28]:
df = df.dropna(how='any',axis=0) 

x = df.drop(['quality','type'],axis=1)
y = df['quality']

In [29]:
x_train, x_test, y_train, y_test = train_test_split(x,y, test_size=0.2, random_state=9)

In [36]:
model = ExtraTreesClassifier(n_estimators=124,random_state=9)
model.fit(x_train,y_train)

ExtraTreesClassifier(n_estimators=124, random_state=9)

In [37]:
y_pred = model.predict(x_test)

In [38]:
acc_per = accuracy_score(y_test,y_pred)
print('Model Accuracy : '+ str(round(acc_per*100,4)))

Model Accuracy : 72.0804

In [33]:
print(type(x_test))

<class 'pandas.core.frame.DataFrame'>

In [71]:
new_data=[[7.4,0.34,0.42,1.2,0.063,14,191,0.9917,3.12,0.53,11.3],
[6.5,0.31,0.14,7.5,0.044,34,133,0.9935,3.22,0.5,9.5],
[6.2,0.67,0.48,1.2,0.029,29,75,0.9592,3.33,0.39,12.8],
[6.6,0.33,0.38,2.9,0.038,19,102,0.9912,3.17,0.35,11],
[6.4,0.27,0.42,1.7,0.049,41,122,0.993,3.47,0.48,10.5],
[7.8,0.66,0.14,1.5,0.074,25,168,0.9937,3.05,0.51,9.3],
[6.8,0.27,0.41,1.3,0.052,16,142,0.9951,3.42,0.47],
[8.2,1.33,0,1.7,0.081,3,12,0.9964,3.53,0.49,10.9],
[8.1,1.33,0,1.8,0.082,3,12,0.9934,3.57,0.48,10.9],
[8,0.59,0.16,1.8,0.065,3,16,0.9762,3.42,0.92,10.5],
[6.1,0.38,0.15,1.8,0.072,6,19,0.9957,3.42,0.57,9.4],
[8,0.745,0.56,2,0.118,30,134,0.9978,3.24,0.66,9.4],
[5.6,0.5,0.09,2.3,0.049,17,99,0.9957,3.63,0.63,13],
[5.6,0.5,0.09,2.3,0.049,18,99,0.9937,3.63,0.63,13]
]
col=['fixed acidity','volatile acidity','citric acid','residual sugar','chlorides','free sulfur dioxide','total sulfur dioxide','density','pH','sulphates','alcohol']
New = pd.DataFrame(new_data, columns =col) 
New = New.dropna(how='any',axis=0)

In [72]:
new_pred=model.predict(New)

In [73]:
# df_predict3 = pd.DataFrame({'New Data ':New,'Predicted values': new_pred})
df_pred=New
df_pred['New Prediction']=new_pred
df_pred.head(10)

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,New Prediction
0,7.4,0.34,0.42,1.2,0.063,14,191,0.9917,3.12,0.53,11.3,6
1,6.5,0.31,0.14,7.5,0.044,34,133,0.9935,3.22,0.50,9.5,5
2,6.2,0.67,0.48,1.2,0.029,29,75,0.9592,3.33,0.39,12.8,8
3,6.6,0.33,0.38,2.9,0.038,19,102,0.9912,3.17,0.35,11.0,7
4,6.4,0.27,0.42,1.7,0.049,41,122,0.9930,3.47,0.48,10.5,6
5,7.8,0.66,0.14,1.5,0.074,25,168,0.9937,3.05,0.51,9.3,5
7,8.2,1.33,0.00,1.7,0.081,3,12,0.9964,3.53,0.49,10.9,5
8,8.1,1.33,0.00,1.8,0.082,3,12,0.9934,3.57,0.48,10.9,5
9,8.0,0.59,0.16,1.8,0.065,3,16,0.9762,3.42,0.92,10.5,7
10,6.1,0.38,0.15,1.8,0.072,6,19,0.9957,3.42,0.57,9.4,5